* text=auto

*.sln text eol=crlf
*.vcxproj text eol=crlf
*.filters text eol=crlf
*.cpp text eol=crlf
*.h text eol=crlf

*.dll binary
*.lib binary
*.png binary
*.jpg binary
*.jpeg binary
*.ttf binary
*.wav binary
*.ogg binary
